.container .contact-container {
    width: 85%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.container .contact-container .container-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.container .contact-container .container-options .contact-option {
    width: 14rem;
    background: var(--skin-color);
    color: white;
    padding: 1.2rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.container .contact-container .container-options .contact-option h4 {
    font-size: 16px;
    margin-top: 6px;
}

.container .contact-container .container-options .contact-option h5 {
    font-size: 14px;
    word-wrap: break-word;
    margin: 8px 0 24px 0;
}

.container .contact-container .container-options .contact-option a {
    padding: 10px;
    margin-top: 10px;
    width: fit-content;
    background: white;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.container .contact-container .container-options .contact-option a:hover {
    background: var(--skin-color);
    border: 1px solid white;
    color: white;
}



/* ============= Form ============ */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, 
textarea {
    width: 100%;
    padding: 1.5rem;
    border: none;
    resize: none;
    color: var(--text-black-900);
    border-radius: 10px;
    border: 1px solid rgb(196, 75, 75);
}
